{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Curator of Curiosities ✨📚
          <br><br>
          Welcome to my world of wonder, where every scroll unveils something<br>
          intriguing and unexpected. As the guide through this realm of <br>
          randomness, I'm here to explore the uncharted territories of knowledge,<br>
          from fascinating facts to whimsical tales. Join me on a journey of<br>
          discovery, where each post promises a delightful surprise. Let's embrace<br>
          the beauty of the unknown and embark on a captivating adventure together.<br>
          Unravel the extraordinary at my Random Wonders blog. 🌟🔍<br>
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
